# IDE & Editor
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
*.swp
*~
.DS_Store

# Version Control
.svn/

# Build & Compilation
target/
*.class
dependency-reduced-pom.xml
weaving-class/
plugins/
package/reporter/
boot-plugins/
bee*.jar

# Logs
*.log

# Frontend
node_modules/
dist/
/**/node_modules/
.npm-cache/
.pnpm-store/
/package/
package/
